<nav class="navbar navbar-dark bg-dark">
  <h1 class="text-white">Table Project</h1>
 
  <a class=" btn btn-primary " routerLinkActive="active" routerLink="/login">Login<i class="fas fa-search ms-2"></i></a>
 
  <a class= " btn btn-danger" routerLinkActive="active" routerLink="/register">Registrati<i class="fas fa-plus-square ms-2"></i></a>

  <a class= " btn btn-success" routerLinkActive="active" routerLink="/home">Vai alla Home<i class="fas fa-plus-square ms-2"></i></a>
 
 
 </nav>
 
 
 <router-outlet></router-outlet>