<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-2">Aggiungi personaggio</h1>
            <h5 class="mb-2">Inserisci i dati del personaggio</h5>
            <p class="text-danger">Tutti i campi sono obbligatori</p>
            <form [formGroup]="listForm" (ngSubmit)="onSubmit()">

                <!--<div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>ID</label>
                            <input class="form-control" type="text" formControlName="id">

                             
                            <div class="invalid-feedback" *ngIf="submitted && myForm.id.errors?.required">
                                Inserisci l'id.
                            </div>

                    </div>
                </div> -->


                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>Nome</label>
                            <input class="form-control" type="text" formControlName="name">

                               <!-- error -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                                Inserisci il nome.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>Descrizione</label>
                            <input class="form-control" type="text" formControlName="description">

                               <!-- error -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.description.errors?.required">
                                Inserisci la descrizione.
                    
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <button class="btn btn-primary" type="submit">Registra Personaggio</button>
                </div>
            </form>

        </div>
    </div>
</div>
  